<header>
	<h1>Comments</h1>
</header>

<table class="table table-striped table-responsive">
  <thead>
    <tr>
      <th>Thinker</th>
      <th>Body</th>
      <th>Created</th>
      <th>Thought</th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.thinker if comment.thinker %></td>
        <td><%= truncate(comment.body, length: 30) %></td>
        <td><%= time_format(comment.created_at) %></td>
        <td><%= link_to comment.thought.title, thought_path(comment.thought) %></td>
      </tr>
    <% end %>
  </tbody>

</table>
