<h3>Add Comment</h3>

<%= form_for [@thought, @comment] do |f| %>
  

  <div class="field"> 
    <%= f.text_area :body, class: "form-control" %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Submit Comment", class: "btn btn-success" %>
  </div>
<% end %>

<div id="commentResult">
  <p id="commentBody"></p>
</div>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $('form').submit(function(event) {
      //prevent form from submitting the default way
      event.preventDefault();

      var values = $(this).serialize();
 
      var posting = $.post(this.action, values);
  
      posting.done(function(data) {
        var comment = data;
        $("#commentBody").text(comment["body"]);
      });
    });
  });
</script>