/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require bootstrap-social
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "thoughts";
@import "admin/application";
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
@import "home";



.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: #fff;  /*Sets the text hover color on navbar*/
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >   
 a:hover, .navbar-default .navbar-nav > .active > a:focus {
color: white; /*BACKGROUND color for active*/
background-color: #030033;
}

  .navbar-default {
    //background-color: #3c923c;
    background: #00b09b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #96c93d, #00b09b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #96c93d, #00b09b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    border-color: #030033;
}

  .dropdown-menu > li > a:hover,
   .dropdown-menu > li > a:focus {
    color: #262626;
   text-decoration: none;
  background-color: #66CCFF;  /*change color of links in drop down here*/
   }

 .nav > li > a:hover,
 .nav > li > a:focus {
    text-decoration: none;
    background-color: silver; /*Change rollover cell color here*/
  }


  .navbar-default .navbar-nav > li > a {
   color: white; /*Change active text color here*/
    }

    .navbar-default .navbar-brand {
    color: white;
}

body {
  font-family: 'Titillium Web', sans-serif;
  font-size: 14px;
  color: #333;
  padding-top: 70px;
  padding-left: 15px;
}

header {
  @extend .page-header;
  position: relative;
  padding-bottom: 0;

  &:first-child {
    margin-top: 20px;
  }

  h1, h2, h3, h4, h5, h6 {
    max-width: 55%;
  }
}

ul.actions {
	@extend .list-unstyled;
  @extend .list-inline;
  bottom: -2px;
  right: 2px;
  text-align: right;
}

ul.error {
  @extend .list-unstyled;
  @extend .list-inline;
  bottom: -2px;
  right: 2px;
  text-align: center;
}

a.new,
a.comment, 
a.edit,
a.delete {
	@extend .btn;

	&:before {
		font-family: "FontAwesome";
		padding-right: 0.5em;
	}
}

a.new {
	@extend .btn-success;

	&:before {
		@extend .fa-plus;
	}
}

a.comment {
  @extend .btn-success;

  &:before {
    @extend .fa-comment;
  }
}

a.edit {
  @extend .btn-primary;

  &:before {
    @extend .fa-pencil;
  }
}

a.delete {
  @extend .btn-danger;

  &:before {
    @extend .fa-trash;
  }
}

span.upcoming, 
span.past {
  color:#000;
  font-weight: bold;
  border-radius: 3px;

  &:before {
  font-family: "FontAwesome";
  padding: 1.5em
  }
}

span.upcoming {
  background-color: #12e52a;

  &:before {
  @extend .fa-check;
  }
}

span.past {
  background-color: #e51212;

  &:before {
  @extend .fa-close;
  }
}


.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-danger;
}

.field {
  padding-bottom: 5px;
}

element.style {
  color: white;
  font-size: 1.2em;
}

.devise-links {
  padding-top: 8px;
  text-align: -webkit-center;
}

.devise-links a {
  color: white;
  font-size: 1.2em;
}

input[type=file] {
    margin: 0 auto;
}

.btn-block {
    display: block;
    width: 50%;
}


.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  //background: #3c923c;
  background: #00b09b;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #96c93d, #00b09b);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #96c93d, #00b09b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
  text-align: center;
}

.digg_pagination {
  background: white;
  cursor: default;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1; }
  .digg_pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }








